<div class="<%= class_name %>">
  <div class="<%= class_name %>" style="display:inline;">
    <i class="fa fa-upload" aria-hidden="true"></i>
    <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, date_format) %></time>
  </div>
  <div style="display:inline;">
    <i class="fa fa-edit" aria-hidden="true"></i>
    <time datetime="<%= date_xml(post.updated) %>" itemprop="dateUpdated"><%= date(post.updated, date_format) %></time>
  </div>
</div>
