<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script type="text/javascript">
  !function(e){"use strict";var n=function(n,t,o){var l,r=e.document,i=r.createElement("link");if(t)l=t;else{var a=(r.body||r.getElementsByTagName("head")[0]).childNodes;l=a[a.length-1]}var d=r.styleSheets;i.rel="stylesheet",i.href=n,i.media="only x",l.parentNode.insertBefore(i,t?l:l.nextSibling);var f=function(e){for(var n=i.href,t=d.length;t--;)if(d[t].href===n)return e();setTimeout(function(){f(e)})};return i.onloadcssdefined=f,f(function(){i.media=o||"all"}),i};"undefined"!=typeof module?module.exports=n:e.loadCSS=n}("undefined"!=typeof global?global:this);
  </script>
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="shortcut icon" href="<%- theme.favicon %>">
  <% } else { %>
    <link rel="shortcut icon" href="<%- config.root %>favicon.ico">
  <% } %>
  <% if (theme.apple_icon_57){ %>
    <link rel="apple-touch-icon-precomposed" href="<%- theme.apple_icon_57 %>" sizes="57x57" />
  <% } %>
  <% if (theme.apple_icon_72){ %>
    <link rel="apple-touch-icon-precomposed" href="<%- theme.apple_icon_72 %>" sizes="72x72" />
  <% } %>
  <% if (theme.apple_icon_76){ %>
    <link rel="apple-touch-icon-precomposed" href="<%- theme.apple_icon_76 %>" sizes="76x76" />
  <% } %>
  <% if (theme.apple_icon_114){ %>
    <link rel="apple-touch-icon-precomposed" href="<%- theme.apple_icon_114 %>" sizes="114x114" />
  <% } %>
  <% if (theme.apple_icon_120){ %>
    <link rel="apple-touch-icon-precomposed" href="<%- theme.apple_icon_120 %>" sizes="120x120" />
  <% } %>
  <% if (theme.apple_icon_152){ %>
    <link rel="apple-touch-icon-precomposed" href="<%- theme.apple_icon_152 %>" sizes="152x152" />
  <% } %>
  
  <link rel="stylesheet" type="text/css" href="/css/style.css?__inline=true">
  <script type="text/javascript">
    loadCSS("//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css");
  </script>
  <script src="//cdn.bootcss.com/jquery/2.1.0/jquery.min.js?__inline=true" type="text/javascript"></script>

  <%- partial('google-analytics') %>
  <% if( theme.customstylesheet ){ %>
    <%- css('css/'+theme.customstylesheet) %>
  <% } %>
</head>

